/* ***************************************** */
/* *********Navigation Bar**************** */

header{
    padding: 2rem 5rem;
    background-color: var(--bg-color);
}

.navigation{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: space-between;
    font-size: 1.6rem;
}

.main-nav-links{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    list-style-type: none;
    gap: 5rem;
}

.nav-links:link,
.nav-links:visited{
    text-decoration: none;
    color: var(--text-color)
}

.brand-name{
    /* margin-right: 20rem; */
    
    font-style: italic;
    justify-self: center;
    
    
    
}

.brand-name h1{
    font-size: 3.2rem;
    font-weight: 700;
}

.register-btns{
    display: flex;
    align-self: center;
    justify-content:end;
    gap: 3rem;
}

.register-btns a{
    text-decoration: none;
    color: inherit;
    
}

.log-in:link,
.log-in:visited{
    padding: 1.6rem 2.8rem;
    background-color: inherit;
    color: #000;
    border-radius: 40px;
}

/* .sign-up{
    font-weight: 700;
    padding: 1.6rem 2.8rem;
    background-color: var(--btn-bg-color);
    color: var(--btn-color);
    border-radius: 40px;
} */

.nav-links:hover,
.nav-links:active,
.log-in:hover,
.log-in:active
{
    color: var(--btn-bg-color-hover);
}

/* .sign-up:hover,
.sign-up:active{
    background-color: var(--btn-bg-color-hover);
} */





/* ***************************************** */

/* ***************************************** */
/* ********* Hero Section**************** */
    .section-hero{
        background-color: var(--bg-color);
        padding-top: 10rem;
        text-align: center;
    }

    .hero-body{
        max-width: 120rem;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    .hero-badge{
        display: inline-block;
        background-color: #FAE296;
        padding: 1.2rem 2.4rem;
        border-radius: 50px;
    }

    .hero-heading{
        margin: 2rem 10rem 0 10rem;
        
    }

    .hero-desc{
        padding: 0.5rem 0;
        
        margin-bottom: 2rem;
    }

    

    .hero-btn.btn {
        font-size: 1.8rem;
        padding: 2.4rem 3.2rem;
        
    }


/* ***************************************** */

/* ***************************************** */
/* ********* Hero Marquee**************** */
.hero-marquee{
    padding-top: 10rem;
    /* padding-bottom: 10rem; */
}

.marquee-content{
    --gap: 7rem;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
}

.marquee-container{
    flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  gap: var(--gap);
  animation: marquee 30s linear infinite;
}

.items{
    padding: 2rem;
    height:40rem;
    width: 32rem;
    background-position: center;
    background-size: cover;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    gap: 0.5rem;
}


.marquee-items1{
    background-image: linear-gradient(to right bottom,rgba(105, 104, 103, 0.592),rgba(10, 10, 10, 0.611)),url('../Images/hero-marquee/man1.webp');
}

.marquee-items2{
    background-image: linear-gradient(to right bottom,rgba(105, 104, 103, 0.401),rgba(10, 10, 10, 0.369)),url('../Images/hero-marquee/man2.webp');
}
.marquee-items3{

   
    background-image: linear-gradient(to right bottom,rgba(105, 104, 103, 0.401),rgba(10, 10, 10, 0.369)),url('../Images/hero-marquee/man3.webp');
    
}
.marquee-items4{

   
    background-image: linear-gradient(to right bottom,rgba(105, 104, 103, 0.401),rgba(10, 10, 10, 0.369)),url('../Images/hero-marquee/man4.webp');
   
}
.marquee-items5{

   
    background-image: linear-gradient(to right bottom,rgba(105, 104, 103, 0.401),rgba(10, 10, 10, 0.369)),url('../Images/hero-marquee/women4.webp');
    
    
}
.marquee-items6{

    
    background-image: linear-gradient(to right bottom,rgba(105, 104, 103, 0.401),rgba(10, 10, 10, 0.369)),url('../Images/hero-marquee/women2.webp');
    
    
}
.marquee-items7{

   
    background-image: linear-gradient(to right bottom,rgba(105, 104, 103, 0.401),rgba(10, 10, 10, 0.369)),url('../Images/hero-marquee/women3.webp');
    
}


.items p{
    color: #fff;
    font-weight: 700;
    font-size: 1.6rem;
}

.tags{
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
}

.tags span{
    padding: 0.6rem 1.4rem;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    border: 1px solid #ffffff51;
    border-radius: 50px;
}



@keyframes marquee{
    from {
        transform: translateX(0);
      }
      to {
        transform: translateX(calc(-100% - var(--gap)));
      }
}



/* ***************************************** */

/* ***************************************** */
/* ********* Section Featured-in**************** */

.section-featured-in{
    
    margin: 0 auto;
    /* padding: 0 3.2rem; */
    padding-top: 10rem;
    max-width: 120rem;
}

.brand-logo{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    align-items: center;
    

}

.brand-logo p{
    font-size: 2rem;
    text-transform: uppercase;
}

.brand-desc{
    border-bottom: 1px solid #dbdbde;
    padding: 15rem 0;
    column-gap: 9rem;
}

.brand-desc .heading{
    font-weight: 300;
    font-size: 9.6rem;
}

.heading-desc{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: start;
    justify-content: start;
    padding: 2.6rem;
}

.heading-desc p{
    
    font-size: 2rem;
    font-weight: 400;
}

/* ***************************************** */

/* ***************************************** */
/* ********* Connection Section**************** */

.connection-container{
    padding: 15rem 0 0;
    max-width: 89.2rem;
    margin: 0 auto;
}

.connecting{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5rem;
}

.connecting .hero-badge{
    background-color: #FFDA79;
}

.connecting-heading.primary-heading{
    font-size: 6.4rem;
}

.connecting-header-desc.secondary-heading{
    font-weight: 400;
    font-size: 2rem;
}




.match.grid{
    max-width: 120rem;
    margin: 0 auto;
    margin-top: 5rem;
    column-gap: 5rem;
    padding-bottom: 15rem;
}

.match-text-box{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 3rem;
}

.match-text-box .primary-heading{
    font-size: 5.2rem;
}

.match-text-box .teritory-heading{
    font-weight: 400;
    
}

.match-btns{
    display: flex;
    gap: 2rem;
}

.btn.bg-white:link,
.btn.bg-white:visited{
    background-color: #fff;
    color: #000;
    border: 1px solid #01010127;
}

.match-img-box{
    position: relative;
}

.match-img-box img{
    width: 100%;
    
    
}

.person-card{
    background-color: white;
    width: 28rem;
    padding: 2rem 4rem 2rem 2rem;
    position: absolute;
    display: grid;
    grid-template-columns: 6rem 1fr;
    row-gap: 3rem;
    column-gap: 2rem;
    /* justify-content: space-between; */
    border-radius: 50px;
    box-shadow:6.53292px 11.4326px 24.4984px rgba(0,0,0,0.05);
    right: -10%;
    bottom: -10%;
    z-index: 10;
}

.match-img-box .artist-img{
    
    width: 6rem;
    justify-self:start;
}

.artist-details{
   
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 1rem;
}

.artist-name{
    font-size: 2rem;
}

.artist-role{
    /* padding: 1.2rem 0.5rem; */
    /* padding-left: 1rem; */
    font-size: 1.6rem;
    background-color: #DDFDE8;
    
    font-weight: 700;
}

.artist-skill{
    grid-column: span 2;
    display: flex;
    flex-direction: column;
   
}

.artist-skill p{
    font-size: 1.8rem;
}
.artist-skill .tags span{
    color: black;
    border: 1px solid #00000051;
}

.artist-cost{
    font-size: 2rem;
}

.artist-rating{
    align-self: center;
    justify-self: end;
}



/* ***************************************** */


/* FONT SIZE SYSTEM (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 
    
    line height(in px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
    
    */